{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}
{{!-- TODO: <JobRow> is not currently used in the UI. It should be re-implemented in jobs/index.hbs --}}
<tr class="job-row is-interactive" data-test-job-row {{on "click" this.handleClick}} ...attributes>
  <td data-test-job-name
    {{keyboard-shortcut
      enumerated=true
      action=this.gotoJob
    }}
  >
    <LinkTo
      @route="jobs.job.index"
      @model={{@job.idWithNamespace}}
      class="is-primary"
    >
      {{@job.name}}

      {{#if @job.meta.structured.pack}}
        <span data-test-pack-tag class="tag is-pack">
          <span>Pack</span>
        </span>
      {{/if}}

    </LinkTo>
  </td>
  {{#if (not (eq @context "child"))}}
    {{#if this.system.shouldShowNamespaces}}
      <td data-test-job-namespace>
        {{@job.namespace.name}}
      </td>
    {{/if}}
  {{/if}}
  {{#if (eq @context "child")}}
    <td data-test-job-submit-time>
      {{format-month-ts @job.submitTime}}
    </td>
  {{/if}}
  <td data-test-job-status>
    <span class="tag {{@job.statusClass}}">
      {{@job.status}}
    </span>
  </td>
  {{#if (not (eq @context "child"))}}
    <td data-test-job-type>
      {{@job.displayType.type}}
    </td>
    <td data-test-job-node-pool>
      {{#if @job.nodePool}}{{@job.nodePool}}{{else}}-{{/if}}
    </td>
    <td data-test-job-priority>
      {{@job.priority}}
    </td>
  {{/if}}
  <td data-test-job-allocations>
    <div class="inline-chart">
      {{#if @job.hasChildren}}
        {{#if (gt @job.totalChildren 0)}}
          <ChildrenStatusBar @job={{@job}} @isNarrow={{true}} />
        {{else}}
          <em class="is-faded">
            No Children
          </em>
        {{/if}}
      {{else}}
        <AllocationStatusBar
          @allocationContainer={{@job}}
          @isNarrow={{true}}
        />
      {{/if}}
    </div>
  </td>
</tr>
