{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="lifecycle-chart-row {{@task.lifecycleName}} {{this.activeClass}} {{this.finishedClass}}" data-test-lifecycle-task>
<Hds::Alert
  @type="inline"
  @color={{this.taskColor}}
  class="{{if (eq @taskState.state "pending") "pending"}}"
  @icon={{this.taskIcon}} as |A|>
  <A.Title class="name" data-test-name>
    {{#if @taskState}}
      <LinkTo @route="allocations.allocation.task" @models={{array @taskState.allocation @taskState}}>
        {{@task.name}}
      </LinkTo>
    {{else}}
      {{@task.name}}
    {{/if}}
  </A.Title>
  <A.Description>
    <div class="lifecycle" data-test-lifecycle>{{capitalize this.lifecycleLabel}} Task</div>
  </A.Description>
</Hds::Alert>
</div>
