{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

<tr class="server-agent-row is-interactive {{if this.isActive "is-active"}}" {{on "click" this.handleClick}} ...attributes>
  <td data-test-server-name
    {{keyboard-shortcut
      enumerated=true
      action=this.goToAgent
    }}
  ><LinkTo @route="servers.server" @model={{@agent.id}} class="is-primary">{{@agent.name}}</LinkTo></td>
  <td data-test-server-status><span>
      <Hds::Badge
        @text={{capitalize @agent.status}}
        @color={{this.agentStatusColor}}
        @size="large"
      />
    </span></td>
  <td data-test-server-is-leader class="server-status-badges">
    <Hds::Badge
      @text={{if
        @agent.isLeader
        (if
          @agent.system.shouldShowRegions
          (concat "True" " (" @agent.region ")")
          "True"
        )
        "False"
      }}
      @icon={{if @agent.isLeader "check-circle" ""}}
      @color={{if @agent.isLeader "success" "neutral"}}
      @size="large"
      class="no-wrap"
    />
  </td>
  <td data-test-server-address class="is-200px is-truncatable">{{@agent.address}}</td>
  <td data-test-server-port>{{@agent.serfPort}}</td>
  <td data-test-server-datacenter>{{@agent.datacenter}}</td>
  <td data-test-server-version>{{@agent.version}}</td>
</tr>
