{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! template-lint-disable }}
<label class="toggle {{if @isActive "is-active"}} {{if @isDisabled "is-disabled"}}" data-test-label ...attributes>
  <input
    data-test-input
    type="checkbox"
    checked={{@isActive}}
    disabled={{@isDisabled}}
    class="input"
    {{on "change" @onToggle}}
  />
  <span data-test-toggler class="toggler"></span>
  {{yield}}
</label>
