{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="accordion-head {{unless @isOpen 'is-light'}} {{unless @isExpandable 'is-inactive'}}" data-test-accordion-head ...attributes>
  <div class="accordion-head-content">
    {{yield}}
  </div>
  <button
    data-test-accordion-toggle
    data-test-accordion-summary-chart={{@buttonType}}
    class="button is-light is-compact pull-right accordion-toggle
      {{unless @isExpandable 'is-invisible'}}"
    {{on "click" (fn (if @isOpen @onClose @onOpen) @item)}}
    type="button"
  >
    {{or @buttonLabel "toggle"}}
  </button>
</div>